html {
  background-color: black;
  background-image: url(Background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  margin: 0;
  opacity: 1;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;  
}

h1 {
  position: absolute;
  top: 108px;
  left: calc(50% - 272px/1.5);
  bottom: 38px; 
  font-size: 100px;
  line-height: 0;
}

b {color: rgb(66, 133, 244);}
y {color: rgb(253, 215, 2);}
r {color: rgb(219, 68, 55);}
g {color: rgb(15, 157, 88);}
e {color: grey;}
c {font-family: 'Segoe UI', 'Roboto', arial, sans-serif;}

#JavaScriptAPIButton {
  color: rgb(163, 163, 163);
  left: 17%;  
  top: 330px;
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: transparent;
  border: 0;
  font-size: 70px;
  transition: all 1s ease;
  transform: scale(1);
  cursor: pointer;
}

#DirectionsButton {
  color: rgb(163, 163, 163);
  left: 47.65%;  
  top: 330px;
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: transparent;
  border: 0;
  font-size: 70px;
  transition: all 1s ease;
  transform: scale(1);
  cursor: pointer;
}

#StaticMapsButton {
  color: rgb(163, 163, 163);
  left: 80%;  
  top: 330px;
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: transparent;
  border: 0;
  font-size: 70px;
  transition: all 1s ease;
  transform: scale(1);
  cursor: pointer;
}

#JavaScriptAPIButton:hover {
  transform: scale(1.5) perspective(1px);
  color: #3B6EC2;
  background-color:#2d2d2e;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

#JavaScriptAPIButton:hover + #JavaScriptAPIText {
  color: #3B6EC2;
  background-color:#2d2d2e;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.9);
  border-radius: 5px;
}

#DirectionsButton:hover {
  transform: scale(1.5) perspective(1px);
  color: #3B6EC2;
  background-color:#2d2d2e;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

#DirectionsButton:hover + #DirectionsText {
  color: #3B6EC2;
  background-color:#2d2d2e;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.9);
  border-radius: 5px;
}

#StaticMapsButton:hover {
  transform: scale(1.5) perspective(1px);
  color: #3B6EC2;
  background-color:#2d2d2e;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

#StaticMapsButton:hover + #StaticMapsText {
  color: #3B6EC2;
  background-color:#2d2d2e;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.9);
  border-radius: 5px;
}

#JavaScriptAPIText {
  transition: all 1s ease;
  color: white;
  left: 15.85%;  
  top: 57.5%;
  height: 35px;
  box-sizing: border-box;
  position: absolute;
  background-color: transparent;
  border-radius: 20px;
  border: 0;
  line-height: 0;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

#DirectionsText {
  transition: all 1s ease;
  color: white;
  left: 44%;  
  top: 58%;
  height: 35px;
  box-sizing: border-box;
  position: absolute;
  background-color: transparent;
  border-radius: 20px;
  border: 0;
  line-height: 0;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

#StaticMapsText {
  transition: all 1s ease;
  color: white;
  left: 79.25%;  
  top: 58.3%;
  height: 35px;
  box-sizing: border-box;
  position: absolute;
  background-color: transparent;
  border-radius: 20px;
  border: 0;
  line-height: 0;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
#JavaScriptAPIText:hover {
  color: #3B6EC2;
  background-color:#2d2d2e;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.9);
  border-radius: 5px;
}
#DirectionsText:hover {
  
  color: #3B6EC2;
  background-color:#2d2d2e;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.9);
  border-radius: 5px;
}
#StaticMapsText:hover {
  color: #3B6EC2;
  background-color:#2d2d2e;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.9);
  border-radius: 5px;
}

footer {
  color: white;
  position: fixed;
  padding: 2px;
  bottom: 0;
  left: 0;
  right: 0;
}

h2{  
  position: fixed;
  left: 44%;  
  bottom: 10%; 
  font-size: 50px;
  line-height: 0;
}

a {
  transition: all 1s ease;
  transform: scale(1);
  text-decoration: none;
  color: white;
} 

a:hover{
  transform: scale(1.5) perspective(1px);
  color: #3B6EC2;
  background-color:#2d2d2e;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

h3{  
  position: absolute;
  top: 399px;
  left: 36%;
  bottom: 38px;
  font-size: 15px;
  line-height: 0;
}  